@page {
    size: A4;            /* Set page size to 8.5x11 inches */
    margin: 0in;           /* Add margins around the content */
}

img {
    max-width: 70%;         /* Ensure images scale correctly */
    height: auto;            /* Maintain aspect ratio */
    display: block;          /* Center plots */
    margin: 0 ;          /* Center horizontally */
}

.container {
    max-width: none !important;
    width: 50% !important;
}